@import url(./vendor/normalize.css);
@import url(./blocks/header/header.css);
@import url(./blocks/page-container/page-container.css);
@import url(./blocks/button/button.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/bonus-info/bonus-info.css);
@import url(./fonts/fonts.css);

