.cards__item {
  display: flex;
  flex-direction: column;
  min-width: 128px;

  display: flex;
  flex-direction: column;
  margin: 0;
}

.cards__item:last-child {
  margin-left: 70px;
}

@media (max-width: 776px) and (min-width: 319px) {
  .cards__item:last-child {
    margin-left: 0;
    margin-top: 12px;
    max-width: 146px;
  }

  .cards__item {
    max-width: 96px;
  }
}
