.cards__subtitle {
  margin: 7px 0 0 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #4c5d73;
}

@media (max-width: 776px) and (min-width: 319px) {
  .cards__subtitle {
    margin: 0;
    font-size: 9px;
    line-height: 14px;
  }
}
